# Backend Environment Variables
PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/data-integrity
ALCHEMY_URL=https://eth-mainnet.g.alchemy.com/v2/YOUR_API_KEY
FRONTEND_URL=http://localhost:3000

# Frontend Environment Variables
VITE_API_URL=http://localhost:5000/api/v1
